#DATABASE
POSTGRES_USER=lalalallala
POSTGRES_PASSWORD=lalalalallalal #свой пароль придумайте
POSTGRES_DB=lalalalalal

#API KEYS
# YANDEXMUSIC_CLIENT_ID=secret-key-change
# YANDEXMUSIC_CLIENT_SECRET=secret-key-change

#Settings
#SECRET_KEY=your_secret_key